@model Cinema.Models.Utente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nascita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nascita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Residenza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Residenza)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mail">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
